<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LazyFilms: Xem Phim Không Giới Hạn</title>
  <link rel="stylesheet" href="/fonts/fontawesome.com/releases/v6.5.1/css/all.css" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <link rel="stylesheet" href="/fonts/Alata/Alata-Regular.ttf">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/img/SubLogo.jpg" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="/script/main.js" defer> </script>
  <script src="/script/video.js" defer></script>
  <script src="/script/mobile.js" defer></script>
  <link rel="stylesheet" href="/css/responsive.css">
  
</head>

<body>
  <div class="wrap">
    <!--Header-->
    <header id="header">
      <nav class="nav">
        <ul class="header__nav-list">
           <!-- li cho mobile -->
           <li class="header__nav-item bars__mobile">
            <i class="fa-solid fa-bars"></i>
          </li>

          <div class="sidebar__mobile">
            <div class="sidebar__body">
              <ul class="sidebar__nav-list ">
                <li class="siderbar__nav-item header__nav-login">
                  
                  <% if (!loggedIn) { %>
                    <!-- Chưa login -->
                    <a href="#" class="nav__item-link active btn__login">Đăng nhập/Đăng ký</a>
                  <% } else { %>
                    <div class="show__login active">
                      <button class="wrap__profile" href="/Account/Profile">
                        <div class="profile__dropdown">
                          <img src="/img/user_avata_male.jpg" alt="avata_user" class="profile__dropdown-avata">
                        </div>
                        <img src="/img/down.jpg" alt="dropdown" class="profile__dropdown-toggle">
                      </button>
    
                      <div class="profile__menu">
                        <ul class="profile__menu-list">
                          <a href="/Account/Favorite" class="profile__menu-item">
                            <span class="loved__films">
                              <i class="fa-regular fa-heart"></i>
                              Phim yêu thích
                            </span>
                          </a>
                          <a href="/Account/History" class="profile__menu-item">
                            <span class="history__films">
                              <i class="fa-solid fa-clock-rotate-left"></i>
                              Lịch sử xem
                            </span>
                          </a>
                          <a href="/Account/Profile" class="profile__menu-item">
                            <span class="setting__personal">
                              <i class="fa-regular fa-user"></i>
                              Cài đặt cá nhân
                            </span>
                          </a>
          
                          <form class="profile__menu-item" action="/logout" method="post">
                            <button type="submit" class="logout-btn">
                                <span class="logout">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    Đăng xuất
                                </span>
                            </button>
                        </form>
          
                        </ul>
                      </div>
                    </div>
                  <% } %>
                    

                </li>
                

                <li class="siderbar__nav-item">
                  <a href="/" class="nav__item-link active__page">Trang chủ</a>
                </li>

                <li class="siderbar__nav-item">
                  <a href="#" class="nav__item-link movie__genre">Thể loại</a>
                </li>

                <!-- Sub menu -->
                <div class="submenu__type">
                  <ul class="header__subMenu-list ">
                    <li class="header__subMenu-item">
                      <a href="/Category/Tinh cam">Tình Cảm</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Chiến Tranh</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Gia Đình</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Hành Động</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Tâm lý</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Anime</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Gây Cấn</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Hình Sự</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Khoa Học</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Bí Ẩn</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Cổ Trang</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Hoạt Hình</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Kiếm Hiệp</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Kinh Dị</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">TV-Show</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Thần Thoại</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Phiêu Lưu</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Viễn Tưởng</a>
                    </li>
                    <li class="header__subMenu-item">
                      <a href="#">Khoa Học</a>
                    </li>
      
                  </ul>
                </div>


               
                <li class="siderbar__nav-item">
                  <a href="/TopPhim" class="nav__item-link">Top phim</a>
                </li>
                <li class="siderbar__nav-item">
                  <a href="/ChieuRap" class="nav__item-link">Phim chiếu rạp</a>
                </li>
              </ul>
            </div>
            <div class="modal__sidebar-mobile"></div>
          </div>


          <!-- End mobile -->
          <li class="header__nav-item logo__header">
            <a href="/">
              <img src="/img/Logo.jpg" alt="LogoLazyFilms" class="header__nav-logo">
            </a>
          </li>
  
          <li class="header__nav-item header__mainPage">
            <a href="/">TRANG CHỦ</a>
            <div class="header__mainPage-active"></div>
          </li>
  
          <li class="header__nav-item header__nav-subMenu">
            <a href="/">THỂ LOẠI
              <i class="fa-solid fa-angle-down"></i>
            </a>
            <!-- SubMenu -->
            <div class="header__subMenu">
              <ul class="header__subMenu-list">
                <li class="header__subMenu-item">
                  <a href="/Category/Tinh cam">Tình Cảm</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Kinh di">Kinh dị</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Gia dinh">Gia Đình</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Hanh dong">Hành Động</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Tam ly">Tâm lý</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Anime">Anime</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Gây Cấn</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hình Sự</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Khoa hoc">Khoa Học</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Category/Bi an">Bí Ẩn</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Cổ Trang</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hoạt Hình</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Kiếm Hiệp</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Kinh Dị</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">TV-Show</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Thần Thoại</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Phiêu Lưu</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Viễn Tưởng</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Khoa Học</a>
                </li>
  
              </ul>
            </div>
  
          </li>
  
          <li class="header__nav-item header__nav-subMenu item__country" >
            <a href="/">QUỐC GIA
              <i class="fa-solid fa-angle-down"></i>
            </a>
            <!-- SubMenu -->
            <div class="header__subMenu ">
              <ul class="header__subMenu-list">
                <li class="header__subMenu-item">
                  <a href="/Nation/Nhat Ban">Nhật Bản</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Nation/Au My">Âu-Mỹ</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Nation/Viet Nam">Việt Nam</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/Nation/Han Quoc">Hàn Quốc</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hồng Kông</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Thái Lan</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Indonesia</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Đài Loan</a>
                </li>
  
              </ul>
          </li>
  
          <li class="header__nav-item">
            <a href="/TopPhim">TOP PHIM</a>
          </li>
  
          <li class="header__nav-item">
            <a href="/ChieuRap">PHIM CHIẾU RẠP</a>
          </li>
  
          <li class="header__nav-item search__header">
            <div class="header__nav-form">
              <a href="/Movie/Search" class="header__nav-search" aria-label="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>

              <div class="header__nav-notification">
                <img src="/img/icon-alarm-active.jpg" alt="" class="non__active-noti active">
                <img src="/img/icon-alarm-active-fill.jpg" alt="" class="active__noti">
                <div class="header__noti--modal">
                  <div class="header__modal-title">
                    <h3>Thông báo</h3>
                  </div>

                  <!-- Chưa Login -->
                  <div class="header__modal--info not__logged">
                    <h5>Vui lòng
                      <strong>Đăng nhập</strong>
                      để nhận những thông báo mới nhất từ LazyFilms
                    </h5>
                  </div>

                  <!-- Đã Login -->
                  <div class="header__modal-info logged">
                    <div class="header__info-list">
                      <!-- item <-> 1 ngày -->
                      <div class="header__info-item">
                        <div class="info__item-day">
                          <span></span>
                        </div>

                        <% new_movie.forEach(movie =>{ %>
                        <!-- item -->
                          <ul class="item__day-main">
                            <li class="unread">
                              <a href="/Movie/Watch/<%= movie.name_vn + " "+movie._id %>" class="">
                                <div class="table">
                                  <div class="table__cell">
                                    <img src="<%= movie.path + "ngang.jpg" %>" alt="">
                                    <div class="table__right-text">
                                      <div class="right__text-tilte"><%= movie.name_vn %></div>
                                      <div class="right__text-body">
                                        <%= movie.discription %>
                                      </div>
                                      <div class="right__text-time"></div>
                                    </div>
      
                                  </div>
      
                                </div>
                              </a>
                            </li>
                          </ul>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
             
            </div>
            
  
          </li>
  
          <li class="header__nav-item header__nav-premium ">
            <a href="#" class="header__premium">
              <img src="/img/img_VIP.jpg" alt="VIP" class="header__premium-img">
            </a>
          </li>
  
          <li class="header__nav-item header__nav-login">
            
            <% if (loggedIn) { %>
              <!-- Khi login -->
              <div class="show__login logged active">
                  <button class="wrap__profile" href="/Account/Profile">
                      <div class="profile__dropdown">
                          <img src="/img/user_avata_male.jpg" alt="avata_user" class="profile__dropdown-avata">
                      </div>
                      <img src="/img/down.jpg" alt="dropdown" class="profile__dropdown-toggle">
                  </button>
          
                  <div class="profile__menu">
                      <ul class="profile__menu-list">
                          <a href="/Account/Favorite" class="profile__menu-item">
                              <span class="loved__films">
                                  <i class="fa-regular fa-heart"></i>
                                  Phim yêu thích
                              </span>
                          </a>
                          <a href="/Account/History" class="profile__menu-item">
                              <span class="history__films">
                                  <i class="fa-solid fa-clock-rotate-left"></i>
                                  Lịch sử xem
                              </span>
                          </a>
                          <a href="/Account/Profile" class="profile__menu-item">
                              <span class="setting__personal">
                                  <i class="fa-regular fa-user"></i>
                                  Cài đặt cá nhân
                              </span>
                          </a>
          
                          <form class="profile__menu-item" action="/logout" method="post">
                            <button type="submit" class="logout-btn">
                                <span class="logout">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    Đăng xuất
                                </span>
                            </button>
                        </form>
                        
          
                      </ul>
                  </div>
              </div>
          <% } else { %>
              <!-- Chưa login -->
              <a class="btn__login not__logged active" href="#">ĐĂNG NHẬP</a>
          <% } %>
  
  
          </li>
        </ul>
      </nav>
    </header>
  
    <!-- Section Login -->
    <div class="container__login" id="login">
      <div class="login__section">
        <a class="login__section-close">
          <i class="fa-regular fa-circle-xmark"></i>
        </a>
        <div class="login__section--heading">
          <span>Đăng nhập</span>
        </div>
    
        <form action="/login" method="POST" class="login__modal-form">
          <div class="login__modal--group">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
          </div>
    
          <div class="login__modal--group">
            <input type="password" placeholder="Mật khẩu" name="password">
            <i class="fa-regular fa-eye-slash"></i>
            <!-- <i class="fa-regular fa-eye"></i> -->
          </div>
    
          <div class="login__modal-group">
            <a href="#"><span class="login__modal--forgotPass">Quên mật khẩu ?</span></a>
          </div>
    
          <div class="login__modal--group">
            <button class="login__button" type="submit" name="submit">Đăng nhập</button>
          </div>
    
        </form>
    
        <p class="login__register-suggestion">Hoặc đăng nhập bằng</p>
        <div class="login__section--choiceLogin">
          <a href="#" class="login__choiceLogin-fb">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
    
          <a href="#" class="login__choiceLogin-gg">
            <i class="fa-brands fa-google-plus-g"></i>
          </a>
    
        </div>
    
        <div class="login__modal--group">
          <span class="login__modal-register">Chưa có tài khoản?
            <a class = "go__register" href="#">Đăng ký ngay</a> </span>
        </div>
    
    
      </div>
    </div>

    <!-- Section register -->
    <div class="container__register" id="regiters">
      <div class="register__section">
        <a class="register__section-close">
          <i class="fa-regular fa-circle-xmark"></i>
        </a>
        <div class="register__section--heading">
          <span>Đăng ký</span>
        </div>
      
        <form action="/register" method="POST" class="login__modal-form register__modal-form">
          <div class="login__modal--group register__modal-form">
            <input type="text" placeholder="Tên tài khoản" name="account" autocomplete="off">
          </div>
      
          <div class="login__modal--group register__modal-form">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
          </div>
      
          <div class="login__modal--group register__modal-form">
            <input type="password" placeholder="Mật khẩu" name="password" autocomplete="off">
            <i class="fa-regular fa-eye-slash"></i>
            <!-- <i class="fa-regular fa-eye"></i> -->
          </div>
      
          <div class="login__modal--group login__password-auth">
            <input type="password" placeholder="Nhập lại mật khẩu">
            <i class="fa-regular fa-eye-slash"></i>
            <!-- <i class="fa-regular fa-eye"></i> -->
          </div>
      
      
          <div class="login__modal--group login__btn--register">
            <button class="register__button" type="submit" name="submit">Đăng ký</button>
          </div>
      
        </form>
      
        <div class="login__modal--group">
          <span class="login__modal-register">Đã có tài khoản?
            <a class="back__login" href="#">Đăng nhập ngay</a> </span>
        </div>
      
      
      </div>
    </div>
  
    <!-- Forgot password -->
    <div class="container__forgot" id="forgotPass">
      <div class="forgot__section">
        <a class="forgot__section-close">
          <i class="fa-solid fa-circle-xmark"></i>
        </a>
        <div class="register__section--heading forgot__section--heading">
          <span>Khôi phục mật khẩu</span>
        </div>
  
        <div class="login__modal--group prompt__enter forgot__modal_group">
          <span class="prompt__enter-email">Vui lòng nhập Email đăng nhập</span>
        </div>
  
        <form action="#" class="login__modal-form forgot__modal-form">
          <div class="login__modal--group forgot__modal_group">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
          </div>
  
          <div class="login__modal--group forgot__modal_group">
            <button class="login__button" type="submit" name="submit">Tiếp tục</button>
          </div>
  
        </form>
  
        <div class="forgot__modal_group">
          <span class="forgot__accepted-privacy ">Khi bạn nhấn tiếp tục, bạn đồng ý với
            <a class="privacy" href="#">Chính sách và quy định</a>
          </span>
        </div>
  
  
      </div>
    </div>
  
     <!-- Container__QR -->
     <div class="container__qr-payment" id="QR_VNPAY">
      <div class="qr__section">
  
        <div class="qr__img">
          <div class="qr__payment-header">
            <a class="qr__section-close">
              <i class="fa-solid fa-circle-xmark"></i>
            </a>
          </div>
          <img src="/img/qr_vnpay.jpg" alt="container__qr">
          <div class="qr__contain">
            <img src="/img/qr_test.jpg" alt="qr" class="QR_VNPAY">
          </div>
          <p class="qr__timeout">
            Thời gian còn:
            <b>10:00</b>
          </p>
        </div>
        <div class="qr__content">
          <div class="qr__payment-header">
            <a class="qr__section-close">
              <i class="fa-solid fa-circle-xmark"></i>
            </a>
          </div>
          <div class="qr__heading">
            <h4>Quét mã QR với Mobile Banking để thanh toán</h4>
          </div>
          <div class="qr__content-list">
            <!-- item -->
            <div class="qr__main-item">
              <img src="/img/vnpay_b1.jpg" alt="">
              <div class="qr__item-right">
                <h5>Bước 1</h5>
                <p>Dăng nhập ứng dụng Mobile Bankinng</p>
              </div>
            </div>
            <!-- item -->
            <div class="qr__main-item">
              <img src="/img/vnpay_b2.jpg" alt="">
              <div class="qr__item-right">
                <h5>Bước 2</h5>
                <p>Chọn tính năng quét mã thanh toán.</p>
              </div>
            </div>
            <!-- item -->
            <div class="qr__main-item">
              <img src="/img/vnpay_b3.jpg" alt="">
              <div class="qr__item-right">
                <h5>Bước 3</h5>
                <p>Di chuyển camera và quét mã ở trên màn hình LazyFilms</p>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  
    <!-- Show Premium -->
    <div class="container__premium" id="premium">
      <div class="premium__section">
        <!-- Heading -->
        <div class="wrap__heading">
          <div class="premium__section-heading">
            <div class="user__info-wrap">
              <img src="/img/user_avata_male.jpg" alt="avata_user" class="user__info-avata">
              <div class="user__info-right">
                <p class="info__right-name">Anh Tuấn</p>
                <p class="info__right-VIP" title="Đăng kí VIP để tận hưởng kho phim">Đăng ký VIP để tận hưởng kho phim</p>
              </div>
  
            </div>
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
        </div>
  
  
        <!-- Detail -->
        <div class="premium__section-detail">
          <div class="premium__detail-package">
            <!-- List -->
            <div class="detail__package-list">
              <!-- item -->
              <div class="detail__package-item package__item-selected month">
                <span class="package__item-title">Tiêu chuẩn</span>
                <span class="package__item-name">Gói khuyến mãi lần đầu</span>
                <div class="package__item-price">
                  <div class="good__price">
                    <span>49.000 VND</span>
                  </div>
                  <div class="origin__price">
                    <span>79.000 VND</span>
                  </div>
  
                </div>
              </div>
  
              <!-- item -->
              <div class="detail__package-item month">
                <span class="package__item-title">Tiêu chuẩn</span>
                <span class="package__item-name">Gói gia hạn tháng</span>
                <div class="package__item-price">
                  <div class="good__price">
                    <span>69.000 VND</span>
                  </div>
                  <div class="origin__price">
                    <span>79.000 VND</span>
                  </div>
  
                </div>
              </div>
  
              <!-- item -->
              <div class="detail__package-item quarter">
                <span class="package__item-title">Tiêu chuẩn</span>
                <span class="package__item-name">Gói gia hạn quý</span>
                <div class="package__item-price">
                  <div class="good__price">
                    <span>99.000 VND</span>
                  </div>
                  <div class="origin__price">
                    <span>169.000 VND</span>
                  </div>
  
                </div>
              </div>
  
              <!-- item -->
              <div class="detail__package-item year">
                <span class="package__item-title">Tiêu chuẩn</span>
                <span class="package__item-name">Gói gia hạn năm</span>
                <div class="package__item-price">
                  <div class="good__price">
                    <span>599.000 VND</span>
                  </div>
                  <div class="origin__price">
                    <span>499.000 VND</span>
                  </div>
  
                </div>
              </div>
  
            </div>
  
  
            <!-- title gia hạn -->
            <div class="detail__package-extend">
              <div class="package__extend-wrap">
                <span class="extend__title">
                  Sau khi khuyến mãi kết thúc tiếp tục gia hạn với 79000đ.
                  Tự động gia hạn 1 tháng khi hết hạn. Hủy bỏ bất cứ lúc nào
                </span>
                <div class="extend__privilege">
                  <span class="extend__privilege-title">Quyền lợi thành viên</span>
                  <span class="extend__privilege-icon">
                    <i class="fa-solid fa-angle-up"></i>
                    <i class="fa-solid fa-angle-down active"></i>
                  </span>
                </div>
  
              </div>
              <div class="privilage__list">
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/hd.jpg" alt="HD">
                  <span class="privilage__item-detail">1080P</span>
                </div>
  
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/hot.jpg" alt="HD">
                  <span class="privilage__item-detail">Phim Bộ hot xem ngay</span>
                </div>
  
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/download.jpg" alt="HD">
                  <span class="privilage__item-detail">Tải xuống nội dung thành viên</span>
                </div>
  
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/block_ads.jpg" alt="HD">
                  <span class="privilage__item-detail">VIP được chăn quảng cáo</span>
                </div>
  
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/shared__device.jpg" alt="HD">
                  <span class="privilage__item-detail">Dùng chung nhiều thiết bị</span>
                </div>
  
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/blockbuster_movie.jpg" alt="HD">
                  <span class="privilage__item-detail">Phim bom tấn</span>
                </div>
  
                <!-- item -->
                <div class="privilage__item">
                  <img src="/img/dolby.jpg" alt="HD">
                  <span class="privilage__item-detail">Trải nghiệm rạp chiếu phim Dolby</span>
                </div>
  
  
  
              </div>
            </div>
  
            <!-- phương thưc thanh toán -->
            <div class="choice__pay">
              <p class="pay__with-title">Chọn phương thức thanh toán</p>
              <!-- Chọn các option VIP -->
              <div class="pay__with-main">
                <div class="pay__with-list">
                  <!-- item pay__select-item-->
                  <div class="pay__with-item pay__select-item">
                    <!-- active__selected -->
                    <div class="check__box active__selected">
                      <div class="checkbox__selected"></div>
                    </div>
                    <div class="pay__item-banking">
                      <img src="/img/vnpay.jpg" alt="VNPAY" class="item__banking-VNPAY">
                      <span>VNPAY_QR</span>
                    </div>
                  </div>
                  <!-- item -->
                  <div class="pay__with-item">
                    <div class="check__box">
                      <div class="checkbox__selected"></div>
                    </div>
                    <div class="pay__item-momo">
                      <img src="/img/momo21-10-2020_17g15-59.jpg" alt="Momo" class="item__banking-Momo">
                      <span>Ví MoMo</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Thông tin gói -->
              <div class="pay__with-content">
                <div class="pay__with-detail">
                  <h4 class="pay__detail-tilte">Thông tin thanh toán</h4>
                  <!-- Thông tin account thành toán -->
                  <div class="pay__info-account">
                    <span class="info__package-title">Tài khoản</span>
                    <span class="info__package-name">lazyfilms@gmail.com</span>
                  </div>
                  <div class="line"></div>
                  <!-- Thông tin gói -->
                  <div class="pay__info-package">
                    <div class="package__detail">
                      <span class="info__package-title">Tên gói</span>
                      <span class="info__package-name">VIP tháng</span>
                    </div>
                    <div class="package__time">
                      <span class="info__package-title">Thời hạn gói</span>
                      <span class="info__package-name">1 tháng</span>
                    </div>
                  </div>
                  <div class="line"></div>
                  <!-- Giá gói -->
                  <div class="pay__info-price">
                    <span class="info__package-title">Giá gói</span>
                    <span class="info__package-name">49.000 VND</span>
                  </div>
                  <!-- Giảm giá -->
                  <div class="pay__info-discount">
                    <span class="info__package-title">Giảm giá</span>
                    <span class="info__package-name">0 VND</span>
                  </div>
                  <!-- Nhập mã khuyến mãi -->
                  <div class="pay__btn-discount">
                    <input type="text" class="input__promotion-code" placeholder="Mã khuyến mãi">
                    <!-- active__btn  -->
                    <button class="btn__non-active">Áp dụng</button>
                  </div>
                  <div class="line"></div>
                  <!-- Tổng  -->
                  <div class="pay__info-total">
                    <span class="info__package-title">Tổng thanh toán: </span>
                    <span class="info__package-name">49.000 VND</span>
                  </div>
                  <!-- Btn Thanh toán -->
                  <div class="btn__payment">
                    <button class="btn__payment-submit" type="button">Thanh toán</button>
                  </div>
                  <!-- Đồng ý điều khoản thanh toán -->
                  <div class="payment__policy">
                    <p>Bằng việc chấp nhận thanh toán, Khách Hàng đã đồng ý với Điều kiện
                      và điều khoản sử dụng, và ủy quyền cho
                      LazyFilms tự động gia hạn khi hết hạn sử dụng.
                      <br>
                      Xem chi tiết
                      <a href="#">Tại đây</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <!-- Share Video -->
    <div class="container__shareVideo" id="shareVD">
      <div class="share__section">
        <a class="share__section-close">
          <i class="fa-solid fa-circle-xmark"></i>
        </a>
        <h2 class="share__section-title">Chia sẻ</h2>
        <div class="share__section-swiper">
          <div class="swiper__wrap">
            <div class="swiper__item">
              <div class="swiper__item-img">
                <span class="swiper__item-fb"></span>
              </div>
            </div>
            <div class="swiper__item">
              <div class="swiper__item-img">
                <span class="swiper__item-mess"></span>
              </div>
            </div>
            <div class="swiper__item">
              <div class="swiper__item-img">
                <span class="swiper__item-blog"></span>
              </div>
            </div>
            <div class="swiper__item">
              <div class="swiper__item-img">
                <span class="swiper__item-twitter"></span>
              </div>
            </div>
            <div class="swiper__item">
              <div class="swiper__item-img">
                <span class="swiper__item-insta"></span>
              </div>
            </div>
  
          </div>
        </div>
        <div class="share__section-copy">
          <input type="text" class="share__copy-text" value="<%= fullUrl %>">
          <div class="share__copy-btn">
            <i class="fa-regular fa-copy "></i>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Yều cầu login để sài dịch vụ -->
    <div class="container__required-login" id="required__login">
      <div class="section__required">
        <div class="required__content">
          <h3 class="required__login-title">Thông báo</h3>
          <div class="required__login active">
            Vui lòng <strong class="text__login">Đăng nhập</strong> để tiếp tục dịch vụ
          </div>
          <button type="button">Đóng</button>
        </div>
  
      </div>
    </div>
  
    <!-- Report  -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Function to handle the form submission
          function sendData(button) {
              // Collect all checked checkboxes
              const checkboxes = document.querySelectorAll('.report__checkbox:checked');
              const id = document.querySelector('.HiddenId').value;
              
              // Initialize an empty array to hold the values of the checked checkboxes
              let reportData = [];
              
              // Loop through each checked checkbox and push its value to the array
              checkboxes.forEach(checkbox => {
                  reportData.push(checkbox.value);
                  console.log(checkbox.value)
              });

              reportData.push(id);
              
              // Convert the array to a string format suitable for URL parameters
              const reportString = reportData.join('&');
              
              // Define the URL where you want to send the data
              const url = '/report'; // Replace with your actual endpoint
              
              // Send the data using Fetch API
              fetch(url, {
                  method: 'POST', // or 'GET'
                  headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                  },
                  body: reportString, 
              })
              
              // Prevent the default form submission behavior if needed

          }
          
          // Attach the sendData function to the button click event
          document.querySelector('.report__btn-send').addEventListener('click', sendData);
      });
      </script>

    <div class="container__report" id="report">
      <div class="section__report">


          <div class="section__report-body">
            <h4 class="report__body-title">Bạn gặp sự cố gì?</h4>
            <div class="report__body-content">
              <div class="report__content-list">
                <!-- item -->
                  <div class="report__content-item">
                    <input type="checkbox" class = "report__checkbox" id = "checkbox__report-1" value="Ko phù hợp">
                      <span>Có chi tiết không phù hợp với phân loại độ tuổi của nội dung.</span>
                  </div>

                  <!-- item -->
                  <div class="report__content-item">
                    <input type="checkbox" class = "report__checkbox" id = "checkbox__report-2" name="data" value="Lỗi âm thanh">
                      <span>Không có âm thanh, tiếng quá bé, quá ồn hoặc tiếng không khớp với hình.</span>
                  </div>

                  <!-- item -->
                  <div class="report__content-item">
                    <input type="checkbox" class = "report__checkbox" id = "checkbox__report-3" name="data" value="Lỗi hình ảnh">
                    <span>Hình ảnh bị mờ, bị vỡ hoặc trông khác thường.</span>

                  </div>

                  <!-- item -->
                  <div class="report__content-item item__other">
                    <input type="checkbox" class = "report__checkbox" id = "checkbox__report-4" name="data" value="Lỗi phụ đề">
                    <span>Phụ đề hoặc chú thích chưa chính xác.</span>
                  </div>

                  <!-- item -->
                  <div class="report__content-item item__other">
                    <input type="checkbox" class = "report__checkbox" id = "checkbox__report-5" name="data" value="Ko load đc">
                      <span>Xem gián đoạn hoặc không tải được.</span>
                  </div>

                  <div>
                    <input type ="hidden" class="HiddenId" value="<%= movie._id %>">
                  </div>
              
              </div>
            </div>
            <div class="report__content-btn">
              <button type="button" class="report__btn__cancel">
                Hủy
              </button>  
              <button type="submit" class="report__btn-send">
                Gửi
              </button>
            </div>
          </div>

       
  
      </div>
    </div>

    <div class="overlay__mode">
          
    </div>
  
    <div class="body__container">
      <!--Content-->
      <div class="wrap__content">
        <!-- container video -->
        <div class="container__video" id="container">
          <video class="state__video" autoplay>
            <source src="<%= "/Video/test.mp4" %>" type="video/mp4">
          </video>
          <img src="/img/Logo-removebg-preview.jpg" alt="logo LazyFilms" class="overlay__video-logo">
          <div class="video__loading">
            <i class="fa-duotone fa-play"></i>
            <!-- <span class = "text__hover">Trình phát video đang loading</span> -->
          </div>

          <div class="video__next">
            <div class="video__next-Heading"><h3>Tập tiếp theo</h3></div>
            <div class="video__next-Content">
              <img class="NextEpisode-img" src ="/img/Bleach_HuyetChienNganNam-ChiaBiet-t2.jpg">
              <span>Tập 2</span>
            </div>
          </div>

          <div class="video__setting">
            <ul class="video__setting-quality">
              <li class="video__setting-heading">Chất lượng</li>
              <li class="video__setting-items">Auto</li>
              <li class="video__setting-items">1080p</li>
              <li class="video__setting-items">720p</li>
              <li class="video__setting-items">480p</li>
            </ul>
          </div>
  
          <div class="video__control-bar">
            <!-- left -->
            <div class="control__bar-left">
              <button class="video__control-watch" id="videoControl">
                <!-- Stop video -->
                <div class="control__watch-play" id="videoPlay">
                  <i class="fa-solid fa-play"></i>
                  <span class="control__play-hover">Phát</span>
                </div>
  
                <!-- Start video -->
                <div class="control__watch-stop" id="videoStop">
                  <i id="iconControl" class="fa-solid fa-pause"></i>
                  <span class="control__pause-hover">Tạm dừng</span>
                </div>
  
              </button>
  
              <button class="video__control-skipBack">
                <i class="fa-solid fa-rotate-left"></i>
                <span class="control__skipBack-hover">Tua lui 10s</span>
              </button>
  
              <button class="video__control-skipFoward">
                <i class="fa-solid fa-rotate-right"></i>
                <span class="control__skipFoward-hover">Tua tới 10s</span>
              </button>
  
              <div class="video__control-volume">
                <button class="control__volume">
                  <!-- Tắt tiếng -->
                  <div class="control__volume-muted">
                    <i class="fa-solid fa-volume"></i>
                    <span class="control__muted-hover">Tắt tiếng</span>
                    <!-- Edit tiếng -->
  
                  </div>
  
                  <!-- Bật tiếng -->
                  <div class="control__volume-open">
                    <i class="fa-solid fa-volume-slash"></i>
                    <span class="control__open-hover">Bật tiếng</span>
                    <!-- Edit tiếng -->
  
                  </div>
                </button>
              </div>
  
  
              <div class="video__control-time">
                <span class="control__time-text" role="presentation">Thời gian hiện tại</span>
                <span class="control__time-display" role="presentation">0:01</span>
              </div>
  
                <div class="video__control-process">
                  <div class="item__bar">
                    <p class="item__bar-percent"></p>
                    <p class="watch__present"> Đã xem 54%</p>
                  </div>
                </div>
  
            </div>
  
            <!-- right -->
            <div class="control__bar-right">
              <div class="video__control-duration">
                <span class="control__duration-text" role="presentation">Độ dài</span>
                <span class="control__duration-display" role="presentation">24:00</span>
              </div>
  
  
  
              <button class="video__control-report">
                <i class="fa-solid fa-flag"></i>
                <span class="control__report-hover">Báo cáo sự cố</span>
              </button>
  
              <button class="video__control-next">
                <i class="fa-solid fa-forward-step"></i>
              </button>
  
              <button class="video__control-setting">
                <i class="fa-solid fa-gear"></i>
                <span class="control__setting-hover">Cài đặt</span>
              </button>
  
              <button class="video__control-fullscreen">
                <i class="fa-solid fa-expand"></i>
                <span class="control__fullscreen-hover">FullScreen</span>
              </button>
            </div>
  
          </div>
  
        </div>
        
        <!-- Turn on/off light -->
        <div class="turn__mode"  id = "toggleDiv">
          <span>
            <i class="fa-solid fa-lightbulb turn__on-mode active"></i>
            <i class="fa-solid fa-lightbulb-slash turn__off-mode"></i>
            <span id="lightText">Turn on light</span>
          </span>
        </div>

        
  
        <!-- Desc -->
        <div class="container__video-desc">
          <!-- Left desc -->
          <div class="video__desc-left">
            <div class="desc__left-heading">
              <h2><%= movie.name_vn  %></h2>
              <h4><%= movie.name_en %></h4>
            </div>
            <div class="desc__left-info">
              <ul class="desc__info-list">
                <li class="desc__info-item">
                  <span class="desc__item-rating">
                    <i class="fa-solid fa-star"></i>
                    <%= movie.rating %>
                  </span>
                </li>
  
                <li class="desc__info-item">
                  <span class="desc__item-year">
                    <i class="fa-thin fa-calendar-days"></i>
                    <%= movie.year  %>
                  </span>
                </li>
  
                <li class="desc__info-item">
                  <span class="desc__item-time">
                    <i class="fa-regular fa-clock"></i>
                    <%= movie.duration + " Phút"%>
                  </span>
  
                </li>
                <li class="desc__info-item">
                  <span class="desc__item-country">
                    <i class="fa-thin fa-globe"></i>
                    <%= movie.nation  %>
                  </span>
                </li>
              </ul>
  
              <!-- <div class="desc__info-type">
                  <span class="info__type-text">Bạo lực, hành động, kinh dị</span>
                </div> -->
            </div>
  
            <!-- detail -->
            <div class="desc__info-detail">
              <p class="desc__detail-para"><%= movie.discription %>
              </p>
              <div>
                <div class="desc__info-readMore">
                  <div class="info__readMore--open">... Thêm</div>
                  <div class="info__readMore--close">... Ẩn bớt</div>
                </div>
              </div>
            </div>
  
          </div>
  
          <!-- right desc -->
          <div class="video__desc-right">
            <div class="desc__right-heading">
              <button class="right__heading-follow" value="<%= movie._id %>" id="favorite">
                <span class="btn__heading-text">
                  <% if (isFavorite) { %>
                    <img id="unfollowHeart" class="icon__followed-Heart" src="/img/icon-heart-unfollowed.png" style="display: none;">
                    <img id="followHeart" class="icon__followed-Heart active__btn-follow" src="/img/icons8-heart-50.png" style="display: inline;">
                  <% } else { %>
                    <img id="unfollowHeart" class="icon__followed-Heart" src="/img/icon-heart-unfollowed.png" style="display: inline;">
                    <img id="followHeart" class="icon__followed-Heart" src="/img/icons8-heart-50.png" style="display: none;">
                  <% } %>
                  Theo dõi
                </span>
              </button>
  
              <button class="right__heading-share">
                <span class="btn__heading-text">
                  <i class="fa-solid fa-share-nodes"></i>
                  Chia sẻ
                </span>
              </button>
  
            </div>
  
            <div class="desc__right-info">
              <div class="right__info-property">Diễn viên</div>
              <div class="right__info-value">
                <%= movie.actor_name  %>
              </div>
  
              <div class="right__info-property">Đạo diễn</div>
              <div class="right__info-value">
                <%= movie.director_name %>
              </div>
              <div class="right__info-property">Thể loại</div>
              <div class="right__info-value">
                <%= movie.category  %>
              </div>
            </div>
  
          </div>
        </div>
  
  
        <!-- Danh sách phim của nó -->
        <div class="container__episodes">
          <h2 class="container__episodes-heading">Danh sách</h2>
          <div class="episodes__tabs">
            <ul class="episodes__list">
  
              <li class="episodes__list-item">
                <div class="episodes__item">
                  <a href="/Movie/Watch/<%= movie.name_vn + " "+movie._id %>" class="episodes__item-link">
                    <div class="episodes__item-frames">
                      <img src="<%= movie.path + "ngang.jpg" %>"
                        alt="Bleach_HuyetChienNganNam-ChiaBiet_Tap1">
                    </div>
  
                    <div class="modal__frame">
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </a>
  
                  <div class="episodes__item-chapter">
                    <span class="item__chapter-text">Movie</span>
                  </div>
                  <div class="episodes__item-timeline"><%= movie.duration %> Phút</div>
  
                </div>
              </li>
  
  
            </ul>
  
            <!-- btn -->
            <div class="carousel__button-prev" type="Nextbutton">
              <i class="fa-light fa-angle-left"></i>
            </div>
  
            <div class="carousel__button-next" type="Prebutton">
              <i class="fa-light fa-angle-right"></i>
            </div>
          </div>
  
        </div>
  
        <!-- Season -->

  
        <!-- Trailer -->
        <!-- <div class="container__trailer">
          <h2 class="container__trailer-heading">Trailer</h2>
          <div class="episodes__tabs">
            <ul class="episodes__list">
  
              <li class="episodes__list-item">
                <div class="episodes__item">
                  <a href="" class="episodes__item-link">
                    <div class="episodes__item-frames">
                      <img src="/img/Bleach_HuyetChienNganNam-ChiaBiet-Trailer.jpg"
                        alt="Bleach_HuyetChienNganNam-ChiaBiet-Trailer">
                    </div>
  
                    <div class="modal__frame">
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </a>
  
                  <div class="episodes__item-chapter">
                    <span class="item__chapter-text item__name-season">Trailer</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
  
        <!-- Nội dung liên quan -->
        <div class="container__connection ">
          <h2 class="container__connection-heading">Nội dung liên quan</h2>
          <div class="episodes__tabs">
            <ul class="connection__list">
              
              <% related.forEach(related => { %>
                <li class="connection__list-item">
                  <div class="episodes__item">
                    <a href="/Movie/Watch/<%= related._id %>" class="episodes__item-link">
                      <div class="episodes__item-frames">
                        <img src="<%= related.path + "ngang.jpg" %>" alt="Bleach_XuGiaThanChet">
                      </div>
                      <div class="modal__frame">
                        <i class="fa-solid fa-play"></i>
                      </div>
    
                    </a>
    
                    <div class="episodes__item-chapter">
                      <span class="item__chapter-text item__name-season"><%= related.name_vn %></span>
                    </div>
    
                  </div>
                </li>
              <% }) %>
            </ul>
            




            <!-- btn -->
            <div class="carousel__button-prev" type="Nextbutton">
              <i class="fa-light fa-angle-left"></i>
            </div>
  
            <div class="carousel__button-next" type="Prebutton">
              <i class="fa-light fa-angle-right"></i>
            </div>
          </div>
        </div>
  
        <!-- Diễn viên -->
        <div class="container__actor">
          <h2 class="container__actor-heading">Diễn Viên</h2>
          <div class="actor__tabs">
            <ul class="actor__list">
  
              <% for (let i = 0; i < movie.actor_name.length; i++) { %>
                <li class="actor__list-item">
                  <div class="actor__item">
                    <a href="" class="actor__item-link">
                      <div class="actor__item-frames">
                        <img src="<%= movie.path + movie.actor_name[i] + ".jpg"%>" alt="Masakazu Morita">
                      </div>
    
                    </a>
    
                    <div class="actor__item-name">
                      <span class="item__name-season item__name-text"><%= movie.actor_name[i] %></span>
                    </div>
    
                  </div>
                </li>
              <% } %>

            </ul>
            <!-- btn -->
            <div class="carousel__button-prev" type="Nextbutton">
              <i class="fa-light fa-angle-left"></i>
            </div>
  
            <div class="carousel__button-next" type="Prebutton">
              <i class="fa-light fa-angle-right"></i>
            </div>
          </div>
  
        </div>
  
        <!-- Comment -->
        <div class="container__comment">
          <div class="comment">
            <!-- Heading -->
            <div class="comment__heading">
              <div class="comment__heading-title">Bình luận
                <span class="comment__title-count">(<%= Object.keys(movie.comments).length; %>)</span>
              </div>
  
              <div class="commment__heading-filter">
                <button class="comment__filter-select">
                  <span>
                    Nhiều like nhất
                    <i class="fa-solid fa-angle-down"></i>
                  </span>
                </button>
                <ul class="comment__filter-option">
                  <li class="comment__option-item">
                    <a href="#" class="active-option">
                      <img src="/img/done.jpg" alt="done">
                      <span>Nhiều like nhất</span>
                    </a>
                  </li>
                  <li class="comment__option-item">
                    <a href="#">
                      <img src="/img/done.jpg" alt="done">
                      <span>Mới nhất</span>
                    </a>
                  </li>
                  <li class="comment__option-item">
                    <a href="#">
                      <img src="/img/done.jpg" alt="done">
                      <span>Cũ nhất</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
  
            <!-- Yêu cầu đăng nhập để sự dụng cmt -->
            <% if (!loggedIn) { %>
            <div class="required__login active">
              Vui lòng <strong class="text__login">Đăng nhập</strong> vào tài khoản LazyFilms để sử dụng bình luận
            </div>
            <% } %>
  
            <!-- Input comment from users -->
            <% if (loggedIn) { %>
              <div class="comment__input flex">
                <div class="comment__input-avata">
                  <img src="/img/img_user.jpg" alt="user">
                </div>
                  <div class="comment__list-item">
                    <!-- Start of the form -->
                    <textarea name="cmt" id="cmt" wrap="soft" rows="2" placeholder="Viết bình luận..."></textarea>
                    <input type="hidden" id="HiddenId" value="<%= movie._id %>">
                    <input type="hidden" id="Hidden_username" value="<%= user.name %>">
                    <button class="send__cmt" id="submit-comment">
                      <i class="fa-solid fa-paper-plane"></i>
                    </button>
                    <!-- End of the form -->
                  </div>
              </div>
            <% } %>

          

            <!-- List comment -->
            <div class="comment__list">

              <% const reveesed_cmt = movie.comments.reverse() %>
              <% reveesed_cmt.forEach(comment => { %>
                <!-- item cmt-->
                <div class="comment__item">
                  <div class="comment__item-avata">
                    <img src="/img/img_user.jpg" alt="">
                  </div>
                  <!-- main comment -->
                  <div class="comment__item-detail">
                    <div class="comment__detail-area">
                      <div class="detail__area-main">
                        <!-- heading -->
                        <div class="area__main-title">
                          <span class="area__title-name"><%= comment.name %></span>
                          <div class="area__dot"></div>
                        </div>
                        <!-- Detail comment -->
                        <div class="area__main-detail">
                          <span><%= comment.commentText %></span>
                        </div>
                      </div>
    
                      <!-- Like , reply comment -->
                    <div class="comment__item-reply">
                      <div class="item__reply-like">
                        <span>
                          <i class="fa-solid fa-thumbs-up liked"></i>
                          <i class="fa-regular fa-thumbs-up unlike active"></i>
                          <span class="count__like">0</span>
                        </span>
                      </div>
  
                      <div class="item__reply-message">
                        <span>
                          <i class="fa-light fa-message-dots"></i>
                          <span class="count__cmt">0</span>
                        </span>
                      </div>
  
                    </div>
                      <!-- Thêm other ở đây -->
                    </div>
    
                  </div>
    
                  <!-- btn tải thêm bình luận -->
    
                </div>
              <% }) %>

            </div>
  
            <!-- Button Tải thêm cmt -->
            <!-- <div class="comment__moreLoad">Tải thêm bình luận</div> -->
          </div>
        </div>

        
      </div>
      
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="wrap__footer">
          <!--Footer navigation-->
          <nav class="footer__nav">
            <!--  -->
            <ul class="footer__nav-list">
              <li class="footer__nav-item">
                <a href="#">
                  <img src="/img/Logo.jpg" alt="LogoLazyFilms" class="footer__nav-logo">
                </a>
              </li>
    
              <li class="footer__nav-item header__mainPage">
                <a href="/index.html">TRANG CHỦ</a>
    
              </li>
              <li class="footer__nav-item">
                <a href="#">GROUP THẢO LUẬN</a>
              </li>
            </ul>
          </nav>
    
          <!--Footer Infomation -->
    
          <div class="footer__info">
            <div class="footer__info-column">
              <h3 class="footer__info-heading">Giới thiệu về chúng tôi</h3>
              <ul>
                <li class="footer__info-item"><a href="#">Thông tin website</a></li>
              </ul>
            </div>
    
            <div class="footer__info-column">
              <h3 class="footer__info-heading">Hợp tác</h3>
              <ul>
                <li class="footer__info-item"><a href="#">Đăng quảng cáo</a></li>
              </ul>
            </div>
    
            <div class="footer__info-column">
              <h3 class="footer__info-heading">Hỗ trợ lỗi</h3>
              <ul>
                <li class="footer__info-item"><a href="#">Phản ánh ý kiến</a></li>
                <li class="footer__info-item"><a href="#">Hỗ trợ lỗi</a></li>
                <li class="footer__info-item"><a href="#">Câu hỏi thường gặp</a></li>
              </ul>
            </div>
    
            <div class="footer__info-column">
              <h3 class="footer__info-heading">Điều khoản dịch vụ</h3>
              <ul>
                <li class="footer__info-item"><a href="#">Điều khoản riêng tư</a></li>
                <li class="footer__info-item"><a href="#">Điều khoản sử dụng</a></li>
              </ul>
    
            </div>
          </div>
    
    
          <!--Footer bottom-->
          <div class="footer__bottom">
            <div class="footer__bottom-center">
              <p>Copyright &copy;2024 Lazyfilm <br />
                Chúng tôi sử dụng Cookies để cải thiện trải nghiệm sử dụng của bạn.
                Nếu bạn tiếp tục sử dụng trang web của chúng tôi, có nghĩa là bạn đồng ý chúng tôi sử dụng cookie.
                <a href="#">Đọc Chính sách quyền riêng tư Lazyfilms</a>
              </p>
              <!--Icon-->
    
              <ul class="footer__icon">
                <li class="footer__bottom-icon"> <a href="#" class="footer__icon-facebook">
                    <i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li class="footer__bottom-icon"><a href="#" class="footer__icon-instagram">
                    <i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="footer__bottom-icon"><a href="#" class="footer__icon-youtube">
                    <i class="fa-brands fa-youtube"></i></a>
                </li>
              </ul>
    
            </div>
          </div>
    
    
    </footer>
  
      
  </div>

</body>

</html>