<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LazyFilms</title>
  <link rel="stylesheet" href="/fonts/fontawesome.com/releases/v6.5.1/css/all.css" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <link rel="stylesheet" href="/fonts/Alata/Alata-Regular.ttf">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/script/admin.js" defer> </script>
  
</head>

<body>
    
  <div class="wrap_admin">
    <!--Header-->
    <div class="slidebar">
        <header>
            <div class="header_logo">
                <a class="image">
                    <img src="/img/Logo.jpg" alt="LogoLazyFilms">
                </a>
            </div>
        </header>
        <div class="menu-bar">
            <div class="slidebar_menu">
                <ul class="slidebar_menu-list" id="admin_sidebar">
                    <li class="slidebar_menu-items">
                        <a href="/Admin/Home">
                            Dashboard
                        </a>
                    </li>
                    <li class="slidebar_menu-items" >
                        <a href="/Admin/Users">
                            Users
                        </a>
                    </li>
                    <li class="slidebar_menu-items">
                        <a href="/Admin/Films">
                            Phim
                        </a>
                    </li>
                    <li class="slidebar_menu-items" id="current">
                        <a href="/Admin/Report">
                            Báo Lỗi
                        </a>
                    </li>
                    <li class="slidebar_menu-items">
                        <a href="#">
                            Quảng cáo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="admin_carousel">
        <div class="admin_carousel-webName">
            <h1>LAZYFILMS.COM</h1>
        </div>      
        <div class="report__content">
            <table class="report__list" width="80%">
                <tr>
                    <th width="15%">UserName</th>
                    <th width="20%">Phim lỗi</th>
                    <th width="45%%">Mô tả</th>
                    <th width="20%">    </th>
                </tr>

                <% report.forEach(report => { %>
                    <tr>
                        <td class="UserName"><%= report.username %></td>
                        <td class="ReportedLink" href="/Movie/Watch/<%= report.movieId %>">
                            <a href="/Movie/Watch/<%= report.movieId %>" style="color:#4905f5;">
                                <%= report.movieId %>
                            </a>
                        </td>
                        <td class="ReportDesc"><%= report.reports %></td>
                        <td class="ReportStatus">
                            <div class="user-authorization">
                                <form class="delete-userForm" action="/update" method="post">
                                    <input type="hidden" name="reportId" value="<%= report._id %>">
                                    <button type="submit" class="btn_deleteUser">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</body>

</html>